@page "/completions"

@inherits CompletionsPage

<PageTitle>Cledev.OpenAI - Completions</PageTitle>

<h1>Completions <span class="small">(Work In Progress)</span></h1>

<EditForm Model="Model.Request" OnValidSubmit="OnSubmitAsync">
    <div class="mb-3">
        <label for="model" class="form-label">Model</label>
        <InputSelect id="model" @bind-Value="Model.Request.Model" class="form-select">
            @foreach (var item in Model.CompletionModels)
            {
                <option value="@item">@item</option>
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label for="prompt" class="form-label">Prompt</label>
        <InputText id="prompt" @bind-Value="Model.Request.Prompt" class="form-control" />
    </div>
    
    @if (IsLoading)
    {
        <button class="btn btn-primary text-nowrap" type="button" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Creating Completion...
        </button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Create Completion</button>
    }
</EditForm>

@if (Response is not null)
{
    for (var index = 0; index < Response.Choices.Count; index++)
    {
        var choice = Response.Choices[index];
        <div class="card d-flex mt-3">
            <div class="card-header">
                Choice @(index + 1)
            </div>
            <div class="card-body">
                <div class="mb-3">@choice.Text</div>
                <span class="fw-bold">Index</span>: @choice.Index<br />
                <span class="fw-bold">Finish Reason</span>: @choice.FinishReason<br />
                <span class="fw-bold">Logprobs</span>: @choice.Logprobs
            </div>
        </div>
    }

    <div class="card d-flex mt-3">
        <div class="card-header">
            Info
        </div>
        <div class="card-body">
            <span class="fw-bold">Id</span>: @Response.Id<br />
            <span class="fw-bold">Object</span>: @Response.Object<br />
            <span class="fw-bold">Created</span>: @Response.Created<br />
            <span class="fw-bold">Model</span>: @Response.Model
        </div>
    </div>

    <div class="card d-flex mt-3">
        <div class="card-header">
            Usage
        </div>
        <div class="card-body">
            <span class="fw-bold">Prompt Tokens</span>: @Response.Usage.PromptTokens<br />
            <span class="fw-bold">Completion Tokens</span>: @Response.Usage.CompletionTokens<br />
            <span class="fw-bold">Total Tokens</span>: @Response.Usage.TotalTokens
        </div>
    </div>
}
